html, body
{
    margin: 0px;
	padding: 0;
    width: 100%;
	height: 100%;
}

#wrapper
{
	min-height:100%;
	position:relative;
}

#header
{
	background:#ededed;
	width: 90%;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

#content
{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 30px; /* Height of the footer element */
}

#footer
{
	background: #ededed;
	width: 100%;
	height: 25px;
    
    padding-top: 5px;
	position:absolute;
	bottom: 0;
	
	
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

nav ul, footer ul
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	display: inline;
}

nav ul li
{
    display: inline;
	list-style: none;
	margin: 10px;
    padding: 0px;
}

a
{
    text-decoration: none;
    color: #999;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    font-size: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p
{
    font-size: 20px;
    line-height: 22px;
    color: #333;
}

ul.posts
{ 
    margin: 20px auto 40px; 
    font-size: 20px;
}

ul.posts li
{
    list-style: none;
}