---
layout: default
title: Jacudibu | Blog
---
  
<p>
<ul class="posts">
    {% for post in site.posts %}
        <li>
            <p>
            <span>
                <b>
                    {{ post.date | date_to_long_string }}
                </b>
            </span>
            >>
            <a href="{{ post.url }}" title="{{ post.title }}">
                <b>
                    {{ post.title }}
                </b>
            </a>
            {{ post.excerpt}}
            {% capture content_words %} 
                {{ post.content | number_of_words }} 
            {% endcapture %} 
            {% capture excerpt_words %} 
                {{ post.excerpt | number_of_words }} 
            {% endcapture %} 
            {% if excerpt_words != content_words %}
                <a href="{{ post.url }}" title="Show More...">
                    [Show More...]
                </a>
            {% endif %}
            </p>
        </li>
    {% endfor %}
</ul>
</p>